@using DevExtreme.AspNet.Mvc;
<h2>People</h2>
<hr />
<div class="center">
    @(
        Html.DevExtreme().DataGrid<Ndumiso_Assessment_2023_05_05.Models.Person>()
                .ID("gridContainer")
                .ShowBorders(true)
                .Paging(_ => _.PageSize(10))
                .HoverStateEnabled(true)
                .ColumnWidth(250)
                .Editing(_ =>
                {
                    _.Mode(GridEditMode.Form);
                    _.UseIcons(true);
                    _.AllowUpdating(true);
                    _.AllowAdding(true);
                    _.AllowDeleting(true);
                })
                .Columns(_ =>
                {
                    _.AddFor(_ => _.Id)
                        .Alignment(HorizontalAlignment.Left);

                    _.AddFor(_ => _.Name);

                    _.AddFor(_ => _.Age)
                        .Alignment(HorizontalAlignment.Left);
                })
                .DataSource(_ => _.Mvc()
                .Controller("PeopleAPI")
                .LoadAction("Get")
                .InsertAction("Post")
                .UpdateAction("Put")
                .DeleteAction("Delete")
                .Key("Id")
                )
        )
</div>
<style> 
    .center {
        margin: auto;
        width: 70%;
    }

    .dx-datagrid-headers {
        background-color:darkblue;
        color: white;
    }
</style>
